.mainNN {
  display: flex;
  flex-flow: column;

  align-items: center;
}

.boxX {
  background-color: whitesmoke;

  width: 30vw;
  height: 30vw;
  border: 0.25em solid rgb(13, 13, 15);
  padding: 0.5em;
  position: relative;
}
h1 {
  font-size: 2em;
  font-weight: 200;
}
